#exercises {
    flex-grow: 1;

    h2 {
        margin-top: 2rem;
        margin-bottom: 3rem;
        font-size: 3rem;
        font-family: 'Inter';
        text-align: center;
    }

    #exercise-selection {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #exercise-selection-prompt {
            text-align: center;
        }

        #exercise-categories {
            display: flex;
            justify-content: space-evenly;
            width: 100%;

            .exercise-category {
                box-sizing: border-box;
                margin: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30rem;
                height: 30rem;
                font-size: 2rem;
                border-radius: 1rem;
                transition: 0.5s;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    cursor: pointer;
                    padding: 1rem;
                    font-size: 2.5rem;

                    span {
                        border: 2px solid white;
                    }
                }

            }
        }
    }
}