* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  caret-color: transparent;
}

html {
  scroll-behavior: smooth;
}
html body {
  background-color: #fff;
}
html body #app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  font-family: "Comfortaa", sans-serif, Arial;
  line-height: 1.5;
}

h1 {
  font-family: "Inter";
}

p {
  font-size: 1.25rem;
  line-height: 1.75;
}
@media (max-width: 1536px) {
  p {
    font-size: 1.15rem;
  }
}
@media (max-width: 1200px) {
  p {
    font-size: 1.05rem;
  }
}
@media (max-width: 1024px) {
  p {
    font-size: 0.95rem;
  }
}
@media (max-width: 768px) {
  p {
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {
  p {
    font-size: 0.8rem;
  }
}

.main-section-container .main-section {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1536px) {
  .main-section-container .main-section {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .main-section-container .main-section {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .main-section-container .main-section {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .main-section-container .main-section {
    max-width: 480px;
  }
}
@media (max-width: 480px) {
  .main-section-container .main-section {
    max-width: 100%;
  }
}

#navigation {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}
#navigation #navigation-container {
  margin: 0rem 1.5rem;
  display: flex;
  padding: 0.5rem 0rem;
}
#navigation #navigation-container #nav-logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
#navigation #navigation-container #nav-logo #nav-logo-button {
  text-decoration: none;
}
#navigation #navigation-container #nav-logo #nav-logo-button h1 {
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: 800;
}
#navigation #navigation-container #nav-logo #nav-logo-button h1:hover {
  cursor: pointer;
}
#navigation #navigation-container #nav-logo #nav-logo-button h1 #nav-logo-nova {
  font-family: "Inter";
}
#navigation #navigation-container #nav-options {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#navigation #navigation-container #nav-options .nav-option-button {
  padding: 0rem 1.5rem;
}
#navigation #navigation-container #nav-options .nav-option-button:hover {
  cursor: pointer;
}

#home {
  flex-grow: 1;
}
#home #hero-section-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 40rem;
  background-image: url("/public/guitar-music-strings-bass-guitar-wallpaper-preview.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#home #hero-section-container::before {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(25%);
  content: "";
}
#home #hero-section-container #hero-section {
  position: relative;
  z-index: 1;
}
#home #hero-section-container #hero-section #hero-section-title {
  text-align: center;
  font-size: 5.5rem;
}
#home #hero-section-container #hero-section #hero-section-title span {
  display: block;
}
#home #hero-section-container #hero-section #hero-section-info {
  margin: 3rem auto;
  display: flex;
  width: 30rem;
}
#home #hero-section-container #hero-section #hero-section-info span {
  font-size: 1.4rem;
  text-align: center;
}
#home #hero-section-container #hero-section #call-to-action {
  display: flex;
  justify-content: center;
}
#home #hero-section-container #hero-section #call-to-action #call-to-action-button {
  padding: 1.5rem 4rem;
  background-color: #121212;
  font-size: 1.5rem;
}
#home #hero-section-container #hero-section #call-to-action #call-to-action-button:hover {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */