#home {
    flex-grow: 1;

    #hero-section-container {
        position: relative;
        height: 40rem;
        background-image: url('/public/guitar-music-strings-bass-guitar-wallpaper-preview.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        &::before {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.75);
            content: '';
        }

        #hero-section {}
    }
}