#home {
    flex-grow: 1;

    #hero-section-container {
        position: relative;
        display: flex;
        align-items: center;
        height: 40rem;
        background-image: url('/public/hero_section_image.jpg');
        background-size: cover;
        background-position: center 80%;
        background-repeat: no-repeat;

        &::before {
            position: absolute;
            width: 100%;
            height: 100%;
            backdrop-filter: brightness(25%);
            content: '';
        }

        #hero-section {
            position: relative;
            z-index: 1;

            #hero-section-title {
                text-align: center;
                font-size: 5.5rem;

                span {
                    display: block;
                }
            }

            #hero-section-info {
                margin: 3rem auto;
                display: flex;
                width: 30rem;

                span {
                    font-size: 1.5rem;
                    font-weight: 300;
                    text-align: center;
                }
            }

            #call-to-action {
                display: flex;
                justify-content: center;


                #call-to-action-button {
                    padding: 1.5rem 4rem;
                    border-width: 5px;
                    border-style: solid;
                    font-size: 1.5rem;
                    transition: 0.5s;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}