#navigation {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;

    #navigation-container {
        margin: 0rem 1.5rem;
        display: flex;
        padding: 0.5rem 0rem;

        #nav-logo {
            flex-grow: 1;
            width: 0rem;
            display: flex;
            align-items: center;

            #nav-logo-button {
                text-decoration: none;

                h1 {
                    font-family: 'Inter';
                    font-size: 1.8rem;
                    font-weight: 800;

                    &:hover {
                        cursor: pointer;
                    }

                    #nav-logo-nova {
                        font-family: 'Inter';

                    }
                }
            }
        }

        #nav-options {
            flex-grow: 1;
            width: 0rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            ul {
                display: flex;
                list-style: none;

                li {
                    .nav-option-button {
                        margin: 0rem 1rem;
                        padding: 0.5rem 1.5rem;
                        text-decoration: none;
                        transition: 0.2s;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

        }

        #mobile-nav-options {
            flex-grow: 0;
            width: 0rem;
            overflow: hidden;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    @media (max-width: $tv-width) {

        #navigation-container {
            margin: 0rem 1.5rem;
            padding: 0.5rem 0rem;

            #nav-logo {
                flex-grow: 1;

                #nav-logo-button {

                    h1 {
                        font-size: 1.8rem;

                        #nav-logo-nova {}
                    }
                }
            }

            #nav-options {
                flex-grow: 1;

                ul {

                    li {
                        .nav-option-button {
                            margin: 0rem 1rem;
                            padding: 0.5rem 1.5rem;
                        }
                    }
                }

            }
        }
    }

    @media (max-width: $desktop-width) {}

    @media (max-width: $laptop-width) {}

    @media (max-width: $tablet-width) {

        #navigation-container {
            margin: 0rem 1.5rem;
            padding: 0.5rem 0rem;

            #nav-logo {
                flex-grow: 1;

                #nav-logo-button {

                    h1 {
                        font-size: 1.8rem;

                        #nav-logo-nova {}
                    }
                }
            }

            #nav-options {
                flex-grow: 0;
                overflow: hidden;

                ul {

                    li {
                        .nav-option-button {
                            margin: 0rem 1rem;
                            padding: 0.5rem 1.5rem;
                        }
                    }
                }

            }

            #mobile-nav-options {
                flex-grow: 1;
                overflow: auto;
            }
        }
    }

    @media (max-width: $mobile-width) {}
}