.virtual-guitar-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;

    .virtual-guitar-title {
        text-align: center;
        font-size: 3rem;

        h2 {}
    }

    .virtual-guitar-content {

        .virtual-guitar-control-panel {
            text-align: center;
            width: 100%;
            height: 10rem;
            border: 2px solid grey;
            border-radius: 1rem;
        }

        .virtual-guitar-fretboard-container {
            box-sizing: border-box;
            margin-top: 1rem;
            padding: 1rem;
            text-align: center;
            width: 100%;
            border: 2px solid grey;
            border-radius: 1rem;

            .virtual-guitar-neck {
                padding: 2rem 0rem;
                display: flex;
                flex-direction: column;
                overflow-x: scroll;

                .virtual-guitar-string {
                    display: flex;
                    width: 2000px;

                    &:first-child {
                        .virtual-guitar-fret {
                            border-top: 3px solid #b8b8b8;
                        }
                    }

                    &:last-child {
                        .virtual-guitar-fret {
                            border-bottom: 3px solid #b8b8b8;
                        }
                    }

                    .virtual-guitar-fret {
                        box-sizing: content-box;
                        position: relative;
                        background-color: #1a1a1a;
                        border-left: 5px solid grey;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 10rem;
                        height: 4rem;

                        &:nth-child(2) {
                            border-left: 10px solid #b8b8b8;
                        }

                        &::after {
                            position: absolute;
                            width: 120%;
                            height: 3px;
                            background-color: #9C7C2A;
                            border-radius: 1rem;
                            content: '';
                        }

                        .virtual-guitar-note {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: black;
                            border: 2px solid #3EC199;
                            font-family: 'Inter';
                            font-size: 1.3rem;
                            font-weight: 800;
                            color: #3EC199;
                            width: 2.8rem;
                            height: 2.8rem;
                            border-radius: 2.8rem;
                            z-index: 1;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        &:first-child {
                            border-color: transparent;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}