.virtual-guitar-container {
    margin: 5rem 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.45);
    -webkit-user-select: none;

    .virtual-guitar-title {
        text-align: center;
        font-size: 3rem;

        h2 {}
    }

    .virtual-guitar-content {

        .virtual-guitar-control-panel {
            width: 100%;
            border: 2px solid #80808010;
            border-radius: 1rem;

            .virtual-guitar-main-panel {
                padding: 0.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 15rem;
                height: 15rem;
                border-width: 2px;
                border-style: solid;
                border-radius: 1rem;

                .virtual-guitar-main-panel-item {
                    display: flex;
                    flex-direction: column;

                    .main-panel-label {
                        font-size: 0.9rem;
                        font-weight: 800;
                    }

                    .main-panel-selection {
                        height: 45px;
                        border-width: 2px;
                        border-style: solid;
                        border-radius: 10px;
                        text-align: center;
                        font-size: 1rem;
                        appearance: none;

                        &:hover {
                            cursor: pointer;
                            border-width: 3px;
                        }
                    }
                }
            }
        }

        .virtual-guitar-fretboard-container {
            box-sizing: border-box;
            margin-top: 1rem;
            padding: 1rem;
            text-align: center;
            width: 100%;
            border-width: 2px;
            border-style: solid;
            border-radius: 1rem;

            .virtual-guitar-neck-container {
                padding: 2rem 0rem;
                display: flex;
                flex-direction: column;
                overflow-x: scroll;

                .virtual-guitar-neck {
                    padding: 2rem 0rem;
                    display: flex;
                    flex-direction: column;

                    .virtual-guitar-string {
                        display: flex;
                        width: max-content;

                        &:first-child {
                            .virtual-guitar-fret {
                                border-top: 3px solid transparent;
                            }

                            span {

                                .virtual-guitar-fret {
                                    border-top: 3px solid #b8b8b8;
                                }
                            }
                        }

                        &:last-child {
                            .virtual-guitar-fret {
                                border-bottom: 3px solid transparent;
                            }

                            span {
                                .virtual-guitar-fret {
                                    border-bottom: 3px solid #b8b8b8;
                                }
                            }
                        }

                        .virtual-guitar-fret {
                            position: relative;
                            box-sizing: border-box;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 6.6rem;
                            height: 3rem;

                            &::after {
                                position: absolute;
                                width: 130%;
                                height: 2px;
                                background-color: #9C7C2A;
                                border-radius: 1rem;
                                content: '';
                            }

                            .virtual-guitar-note {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: black;
                                font-family: 'Inter';
                                font-size: 1rem;
                                font-weight: 800;
                                width: 2.2rem;
                                height: 2.2rem;
                                border-width: 1px;
                                border-style: solid;
                                border-radius: 50%;
                                z-index: 1;
                                transition: 0.1s;

                                &:hover {
                                    cursor: pointer;
                                    font-size: 1.5rem;
                                    border-width: 5px;
                                }
                            }
                        }

                        span {
                            display: flex;
                            background-color: #1a1a1a;

                            .virtual-guitar-fret {
                                border-left: 5px solid grey;

                                &:first-child {
                                    border-left: 10px solid #b8b8b8;
                                }

                                &:last-child {
                                    // overflow-x: hidden;
                                }
                            }
                        }
                    }
                }

                .virtual-guitar-fret-labels {
                    display: flex;
                    width: max-content;

                    .virtual-guitar-fret-marker {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 6.6rem;
                        height: 2rem;
                        font-family: 'Inter';
                    }
                }
            }
        }
    }
}